/* style="background-image: url(../../assets/404_image.png); background-size: 100%;" */
/* 
.body {
    background-image: url("../../assets/404_image.png"); 
    background-size: 100%;
    background-size: cover;
} */