<h1 style="align-items: center; text-align: center;">Coming Soon</h1>

<div class="container mt-2 mb-5">
    <div class="row">
        <div class="col-3">
            <div class="dropdown me-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/food" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Food</a></li>

                  <li><a class="dropdown-item" routerLink="/tourism" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Tourism</a></li>

                  <li><a class="dropdown-item" routerLink="/human-resources" routerLinkActive="active"
                    ariaCurrentWhenActive="page">HR</a></li>
                </ul>
              </div>
        </div>
</div>