<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="me-auto">
            <a class="navbar-brand" routerLink="/home">LOGO</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="float-sm-right collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/marketing" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Marketing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/events" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Events</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/news" routerLinkActive="active"
                        ariaCurrentWhenActive="page">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/login"
                        routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        English
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Македонски</a></li>
                        <li><a class="dropdown-item" href="#">Српски</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item disabled" href="#">Language</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed bottom</a>
    </div>
</nav>