<div class="col mb-3">
    <form class="d-flex mb-3">
        <input (keydown.enter)="filterResults(filter.value);$event.preventDefault()" type="text"
            class="form-control me-2" placeholder="Search for anything" aria-label="Search" #filter>
        <button class="btn btn-primary" type="button" (click)="filterResults(filter.value)">Search</button>
    </form>

    <!-- separator -->
    <div class="w-100"></div>

    <div *ngIf="filteredItems.length == 0">
        <p class="align-items-center mt-5">
            There are no products of this category at the moment, please try again later...
        </p>
    </div>

    <div *ngIf="filteredItems">
        <ng-container *ngFor="let product of filteredItems?.slice()?.reverse()" [itemFiltered]!="itemFiltered">
            <div class="card mt-2 mb-3">
                <div class="card-header pt-2 mb-0 pb-0">
                    <p class="fs-6 mt-2" style="align-items: center; text-align: center">
                        {{ product.categoryName }}
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-title fs-1">
                        {{ product.name }}
                    </p>
                    <div>
                        <p class="card-text fs-6 fw-light" [ngClass]="status ? '' : 'text-truncate mw-10'">
                            {{ product.description }}
                        </p>

                        <button *ngIf="!status" class="btn btn-link" (click)="readMore()">
                            Read more...
                        </button>
                        <button *ngIf="status" class="btn btn-link" (click)="readMore()">
                            Read less...
                        </button>
                    </div>
                    <div>
                        <img [src]="product.image" class="img-fluid rounded mx-auto d-block mt-2 mb-3" alt="">
                    </div>

                    <label class="mt-2 mb-3" style="font-size: smaller;">
                        Published by: {{product.username}}
                    </label>

                    <div class="d-grid gap-2 mx-auto">
                        <button class="btn btn-primary" type="button"
                            [routerLink]="['/categories/food', product.key]">View Product</button>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
        </ng-container>
    </div>

</div>