<div>
    <div>
        <p class="fs-5">Some News Title</p>
        <p style="font-weight: 200;" class="fs-6">Description....</p>
        <img class="img-fluid mb-3 mt-2" src="/assets/300.png">
    </div>
</div>

<div>
    <div>
        <p class="fs-5">Some News Title</p>
        <p style="font-weight: 200;" class="fs-6">Description....</p>
        <img class="img-fluid mb-3 mt-2" src="/assets/300.png">
    </div>
</div>
<div>
    <div>
        <p class="fs-5">Some News Title</p>
        <p style="font-weight: 200;" class="fs-6">Description....</p>
        <img class="img-fluid mb-3 mt-2" src="/assets/300.png">
    </div>
</div>
<div>
    <div>
        <p class="fs-5">Some News Title</p>
        <p style="font-weight: 200;" class="fs-6">Description....</p>
        <img class="img-fluid mb-3 mt-2" src="/assets/300.png">
    </div>
</div>