<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="me-auto">
            <a class="navbar-brand" routerLink="/home">
                <img src="/assets/BalkanOn_1.png" class="w-25 img-fluid" alt="">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="float-sm-right collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">

                    <button class="btn btn-outline" aria-current="page" routerLink="/marketing"
                        routerLinkActive="active" ariaCurrentWhenActive="page">Marketing</button>

                </li>
                <li class="nav-item">

                    <button class="btn btn-outline" aria-current="page" routerLink="/events" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Events</button>

                </li>

                <li class="nav-item">

                    <button class="btn btn-outline" aria-current="page" routerLink="/news" routerLinkActive="active"
                        ariaCurrentWhenActive="page">News</button>

                </li>
                <li *ngIf="!(afAuth.user | async)" class="nav-item">

                    <button class="btn btn-outline" aria-current="page" routerLink="/login" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Login</button>

                </li>
                <li *ngIf="(afAuth.user | async) as user" class="nav-item">

                    <button class="btn btn-outline" aria-current="page" routerLink="/my_profile"
                        routerLinkActive="active" ariaCurrentWhenActive="page">{{user.email}}</button>

                </li>
                <li class="nav-item dropdown">

                    <button class="btn btn-outline dropdown-toggle" id="navbarDropdown" role="button"
                        aria-current="page" data-bs-toggle="dropdown" aria-expanded="false">English</button>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item">Македонски</a></li>
                        <li><a class="dropdown-item">Српски</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item disabled" href="#">Language</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Footer</a>
    </div>
</nav> -->

<!-- <div class="container fixed-bottom">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2022 Company, Inc</p>

        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
</div> -->