<h1 style="align-items: center; text-align: center;">Food</h1>

<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-3">
      <app-category-navigation-button></app-category-navigation-button>
    </div>
    <div class="col-8">
      <ul>
        <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Create New
        </button>

        <!-- kopche za kategorii sortiranje -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create new Food post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="productForm">
                  <label for="name of product" class="form-label">Enter the name of the product</label>
                  <input class="form-control mb-3 mt-2" type="text" placeholder="Name of product"
                    aria-label="name of product" formControlName="name">

                  <label for="description of product" class="form-label">Enter the description of the product</label>
                  <textarea class="form-control mb-3 mt-2" type="text" placeholder="Description of product"
                    aria-label="description of product" formControlName="description"></textarea>
                  <div class="input-group mb-3" style="display: block;">
                    <div class="input-group-prepend">

                    </div>

                    <label for="inputGroupSelect01" class="form-label">Choose the category of your product</label>
                    <div>
                      <select class="form-select mb-3 mt-2" id="inputGroupSelect01" (change)="categoryChanges($event)">
                        <option selected>Choose...</option>
                        <ng-container *ngFor="let subCategory of category?.subCategories">
                          <option [value]="subCategory?.name">{{subCategory?.name}}</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>

                  <ng-container *ngIf="showSubCategories" class="container mt-2 mb-3">
                    <div class="input-group mb-3" style="display: block;">
                      <div class="input-group-prepend">
                        <label for="inputGroupSelect02" class="form-label">Choose the sub-category of your
                          product</label>

                      </div>

                      <div>
                        <select class="form-select" id="inputGroupSelect02" (change)="selectedSubCategory($event)">
                          <option selected>Choose...</option>
                          <ng-container *ngFor="let subCategory of subCategory?.subCategories">
                            <option [value]="subCategory?.name">{{subCategory?.name}}</option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                  </ng-container>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addProduct()" data-bs-dismiss="modal">Save
                  changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </ul>

      <div class="col-8">
        <ng-container *ngFor="let item of items.slice().reverse()">

          <div class="card mt-2 mb-3">
            <div class="card-header">
              <p class="fs-2">{{item.categoryName}}</p>
              <!-- <p *ngIf="item.categoryName"></p> -->
            </div>
            <div class="card-body">
              <p class="card-title fs-2">
                {{item.name}}
              </p>
              <div>

                <p class="card-text fs-6">
                  {{item.description}}
                </p>

              </div>
              <div>
                <img src="/assets/300.png" class="img-fluid rounded mx-auto d-block mt-2 mb-3" alt="">
              </div>

              <div class="d-grid gap-2 mx-auto">
                <button class="btn btn-primary" style="background-color: #247EAF; color: white; border-color: white;"
                  type="button">View Location</button>
              </div>

            </div>
          </div>

        </ng-container>

      </div>
    </div>
  </div>
</div>