<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>

<div class="container-fluid">

    <div class="row mt-3">
        <div class="col-sm-6">

            <h1 class="text-center">User Account</h1>

            <div class="card" [formGroup]="registerForm">
                <div class="card-body text-center">
                    <form [formGroup]="registerForm">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input formControlName="username" type="email" id="email" class="form-control" required
                                placeholder="Enter Username or Email">
                        </div>

                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Phone Number:</label>
                            <input formControlName="phoneNumber" type="number" id="phoneNumber" class="form-control"
                                required placeholder="07x xxx xxx">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input formControlName="password" type="password" id="password" class="form-control"
                                required placeholder="Enter your password">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Confirm Password:</label>
                            <input formControlName="confirmPassword" type="password" id="confirmPassword"
                                class="form-control" required placeholder="Enter your password">
                        </div>

                        <div *ngIf="registerForm?.errors?.['mismatch'] && registerForm?.touched">
                            <p>Passwords do not match.</p>
                        </div>

                        <div class="mb-3 text-center">
                            <button (click)="registerWithEmailPassword()" [disabled]="registerForm.invalid"
                                class="btn btn-primary">Create Account</button>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-link">Forgot Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <h1 class="text-center">Company Account</h1>

            <div class="card">
                <div class="card-body text-center">
                    <form [formGroup]="companyRegisterForm">


                        <h3 class="mb-3">Sign Up And Start Contacting Suppliers Today!</h3>

                        <div id="carouselExampleIndicators" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="ms-3 me-3">

                                    <div class="carousel-item active">

                                        <div>
                                            <p class="fs-3">Choose your Company account:</p>
                                        </div>

                                        <div class="card d-flex align-items-center justify-content-center"
                                            style="border: 0;">
                                            <div class="card-body">
                                                <div class="fs-3 mb-3 mt-2">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="chooseCompanyType" id="chooseCompanyType1" checked
                                                            (change)="companyType = 1">
                                                        <label class="form-check-label" for="chooseCompanyType1">
                                                            Food
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="chooseCompanyType" id="chooseCompanyType2"
                                                            (change)="companyType = 2">
                                                        <label class="form-check-label" for="chooseCompanyType2">
                                                            Tourism
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="chooseCompanyType" id="chooseCompanyType3"
                                                            (change)="companyType = 3">
                                                        <label class="form-check-label" for="chooseCompanyType3">
                                                            HR
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div *ngIf="this.companyType === 1">
                                            <div class="mb-3 text-center">
                                                <button class="btn btn-primary" type="button"
                                                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                                    aria-current="true" aria-label="Slide 1"> Next </button>
                                            </div>
                                        </div>
                                        <div *ngIf="this.companyType === 2">
                                            <div class="mb-3 text-center">
                                                <button class="btn btn-primary" type="button"
                                                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                                    aria-current="true" aria-label="Slide 1"> Next </button>
                                            </div>
                                        </div>
                                        <div *ngIf="this.companyType === 3">
                                            <div class="mb-3 text-center">
                                                <button class="btn btn-primary" type="button"
                                                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                                    aria-current="true" aria-label="Slide 1"> Next </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">

                                        <div class="mb-3">
                                            <label for="companyName" class="form-label">Your Company Name:</label>
                                            <input formControlName="companyName" type="text" id="companyName"
                                                class="form-control" required placeholder="Enter Your Company Name">
                                        </div>

                                        <label class="form-label">Countries:</label>
                                        <div class="input-group mb-3">

                                            <select class="form-control" name="country" id="country">
                                                <option value="" disabled selected>Select Country</option>
                                                <option *ngFor="let country of countries" [value]="country.name">
                                                    {{country.name}}</option>
                                            </select>


                                            <!-- <input type="text" class="form-control" formControlName="enterCountry"
                                                placeholder="Enter Your Country Here"
                                                aria-label="Example text with button addon"
                                                aria-describedby="countriesInput">

                                            <button type="button" class="btn btn-primary dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button> -->

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                                            </ul>
                                        </div>

                                        <div class="mb-3 text-center">
                                            <div class="form-check-inline">
                                                <input class="form-check-input me-3" type="radio"
                                                    name="flexRadioDefault" id="flexRadioDefault1" checked>
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    I am primarily a Buyer.
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input me-3" type="radio"
                                                    name="flexRadioDefault" id="flexRadioDefault2">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    I am primarily a Seller.
                                                </label>
                                            </div>
                                        </div>

                                        <div class="mb-3 text-center">
                                            <button class="btn btn-outline me-3" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                                aria-current="true" aria-label="Slide 0"> Back </button>
                                            <button class="btn btn-primary" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                                                aria-current="true" aria-label="Slide 1" (click)="printCountry()"> Next </button>
                                        </div>

                                    </div>

                                    <div class="carousel-item">

                                        <h2>Marketing</h2>

                                        <div class="mb-3 text-center">
                                            <button class="btn btn-outline me-3" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                                aria-current="true" aria-label="Slide 0"> Back </button>
                                            <button class="btn btn-primary" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                                aria-current="true" aria-label="Slide 2"> Next </button>
                                        </div>

                                    </div>

                                    <div class="carousel-item">

                                        <h2>HR</h2>

                                        <div class="mb-3 text-center">
                                            <button class="btn btn-outline me-3" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                                aria-current="true" aria-label="Slide 0"> Back </button>
                                            <button class="btn btn-primary" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                                aria-current="true" aria-label="Slide 2"> Next </button>
                                        </div>

                                    </div>

                                    <div class="carousel-item">

                                        <div class="mb-3">
                                            <label for="fullName" class="form-label">Your Full Name:</label>
                                            <input formControlName="fullName" type="text" id="fullName"
                                                class="form-control" required placeholder="Enter Your Full Name">
                                        </div>

                                        <div class="mb-3">
                                            <label for="emailAddress" class="form-label">Your Email Address:</label>
                                            <input formControlName="emailAddress" type="email" id="emailAddress"
                                                class="form-control" required placeholder="Enter Your Email Address">
                                        </div>

                                        <div class="mb-3">
                                            <label for="phoneNumberWithAreaCode" class="form-label">Your Phone
                                                Number:</label>
                                            <input formControlName="phoneNumberWithAreaCode" type="tel"
                                                id="phoneNumberWithAreaCode" class="form-control" required
                                                placeholder="Enter Your Phone Number">
                                        </div>

                                        <div class="mb-3 text-center">
                                            <button class="btn btn-outline me-3" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                                aria-current="true" aria-label="Slide 0"> Back </button>
                                            <button class="btn btn-primary" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                                                aria-current="true" aria-label="Slide 2"> Next </button>
                                        </div>
                                    </div>
                                    <div class="carousel-item">

                                        <div class="mb-3">
                                            <label for="productWantToBuy" class="form-label">Product you want to
                                                buy:</label>
                                            <input formControlName="productWantToBuy" type="text" id="productWantToBuy"
                                                class="form-control" required
                                                placeholder="Enter a product you want to buy">
                                        </div>


                                        <div class="mb-3 text-center">
                                            <button class="btn btn-outline me-3" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                                                aria-current="true" aria-label="Slide 1"> Back </button>

                                            <button class="btn btn-primary" type="button"
                                                [disabled]="companyRegisterForm.invalid"> Submit </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>