<div class="container mt-2 mb-5">
    <div class="row">
        <div class="col-3">
            <div class="dropdown me-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="['/categories/food', '-NpHLS_MqfygEqdBZXx_']" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Food</a></li>

                  <li><a class="dropdown-item" routerLink="/tourism" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Tourism</a></li>

                  <li><a class="dropdown-item" routerLink="/human-resources" routerLinkActive="active"
                    ariaCurrentWhenActive="page">HR</a></li>
                </ul>
              </div>
        </div>
        <div class="col-8">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search for anything" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>


</div>
