<div class="container mt-2 mb-5">
    <div class="row">
        <div class="col-3">

            <div class="mt-2 mb-3">
                <app-category-navigation-button></app-category-navigation-button>
            </div>

            <!-- separator  -->
            <div class="w-100"></div>

            <app-news></app-news>

        </div>

        <div class="col-8">

            <form class="d-flex" role="search">
                <input class="form-control" type="search" placeholder="Search for anything" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>

            <div class="mt-5">
                <ng-container *ngFor="let item of items?.reverse()">

                    <div class="card mt-2 mb-3">
                        <div class="card-header pt-2 mb-0 pb-0">
                            <p class="fs-6 mt-2" style="align-items: center; text-align: center;">{{item.categoryName}}
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-title fs-1">
                                {{item.name}}
                            </p>
                            <div>

                                <p class="card-text fs-6 fw-light">
                                    {{item.description}}
                                </p>

                            </div>
                            <div>
                                <img src="/assets/300.png" class="img-fluid rounded mx-auto d-block mt-2 mb-3" alt="">
                            </div>

                            <div class="d-grid gap-2 mx-auto">
                                <button class="btn btn-primary" type="button">View Product</button>
                            </div>

                        </div>
                    </div>
                </ng-container>
            </div>


            <!-- separator  -->
            <!-- <div class="w-100"></div> -->

        </div>





    </div>
</div>



<!-- <div class="container mt-2 mb-5">
    <div class="row">
        <div class="col-3">
            <app-category-navigation-button></app-category-navigation-button>
        </div>
        <div class="col-8">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search for anything" aria-label="Search">
                <button class="btn btn-primary" type="submit" >Search</button>
            </form>
        </div>

    </div>

    <div class="row">

        <div class="col-2 p-3">
            <app-news></app-news>
        </div>

        <div class="col-6 p-3 mt-2 mx-auto d-block">
            <ng-container *ngFor="let item of items.slice().reverse()">

                <div class="card mt-2 mb-3">
                    <div class="card-header">
                        <p class="fs-6">{{item.categoryName}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-title fs-1">
                            {{item.name}}
                        </p>
                        <div>

                            <p class="card-text fs-6">
                                {{item.description}}
                            </p>

                        </div>
                        <div>
                            <img src="/assets/300.png" class="img-fluid rounded mx-auto d-block mt-2 mb-3" alt="">
                        </div>

                        <div class="d-grid gap-2 mx-auto">
                            <button class="btn btn-primary" type="button">View Location</button>
                        </div>

                    </div>
                </div>

            </ng-container>
        </div>
    </div>
</div> -->