@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: "Dancing Script";
  src: url("assets/Dancing_Script/DancingScript-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: url("assets/BebasNeueCyrillicRegular/BebasNeueCyrillicRegular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gustatory";
  src: url("assets/gustatory-delight-font/GustatoryDelightRegular.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

.center {
  display: flex;
  justify-content: center;
}

.div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label {
  /* font-family: 'assets/BrothertonFreeFont/BrothertonFreeFont.ttf'; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: sans-serif;
  /* color: black; */
  color: #0e4360;
  font-weight: bold;
}

.balkanDarkBlue {
  color: #0e4360 !important;
}

.foodCategoriesPositioning {
  margin-right: 10rem;
}

.logoLightBlue {
  color: #247eaf !important;
}

.btn {
  /* font-family: 'assets/BrothertonFreeFont/BrothertonFreeFont.ttf'; */
  font-family: sans-serif;
  font-weight: bold;
}

.btn-primary {
  font-family: sans-serif;
  background-color: #0e4360;
  border-color: #0e4360;
}

.btn-secondary {
  font-family: sans-serif;
  background-color: black;
}

.btn-outline {
  font-family: sans-serif;
  color: #0e4360;
}

.btn-outline:hover {
  background-color: #0e4360;
  color: white;
}

.btn-outline-primary {
  font-family: sans-serif;
  background-color: #0e4360;
  color: white;
  border: 0;
}

.btn-outline-primary:active {
  background-color: red;
}

.me-6 {
  margin-right: 5rem;
}

.form-check-input {
  background-color: #0e4360;
  border-color: #0e4360;
}

.form-check-input:hover {
  background-color: #247eaf;
}

.form-check-input:active {
  background-color: #0e4360;
}

.form-check-input:checked {
  background-color: #247eaf;
}

.mw-10 {
  max-width: 300px;
}

/* 
#FB2E01 - crvena
#FFFC01 - zolta 
#247EAF - sina 
#0E4360 - sina temna
*/
