<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>

<div class="container-fluid">

    <div class="row mt-3">
        <div class="col-sm-6">

            <h1 class="text-center">User Account</h1>

            <div class="card" [formGroup]="registerForm">
                <div class="card-body text-center">
                    <form [formGroup]="registerForm">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input formControlName="username" type="email" id="email" class="form-control" required
                                placeholder="Enter Username or Email">
                        </div>

                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Phone Number:</label>
                            <input formControlName="phoneNumber" type="number" id="phoneNumber" class="form-control"
                                required placeholder="07x xxx xxx">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input formControlName="password" type="password" id="password" class="form-control"
                                required placeholder="Enter your password">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Confirm Password:</label>
                            <input formControlName="confirmPassword" type="password" id="confirmPassword"
                                class="form-control" required placeholder="Enter your password">
                        </div>

                        <div class="mb-3 text-center">
                            <button (click)="registerWithEmailPassword()" [disabled]="registerForm.invalid"
                                class="btn btn-primary">Create Account</button>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-link">Forgot Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <h1 class="text-center">Company Account</h1>

            <div class="card">
                <div class="card-body text-center">
                    <h1>Coming Soon!</h1>
                </div>
            </div>
        </div>
    </div>
</div>